.bannerRow{
	display: flex;
}

.bannerRow .banner{
	/* width: 50%; */
	flex: 1;
	background-color: #fafafa;
	padding: 0;
}

.bannerRow .banner:nth-child(1){
	margin: 10px 5px 10px 10px;
	background-image: url(../img/bannerRow1.jpg);
}

.bannerRow .banner:nth-child(1) h2{
	background-image: url(../img/bannerRowTitle.png);
}

.bannerRow .banner:nth-child(1) p{
	color: #111;
}

.bannerRow .banner:nth-child(2){
	margin: 10px 10px 10px 5px;
	background-image: url(../img/bannerRow2.jpg);
}

.bannerRow .banner:nth-child(2) h2{
	padding-top: 42px;
	background-image: none;
	color: #111111;
	font-size: 32px;
}

.bannerRow .banner:nth-child(2) p{
	margin-top: 4px;
	padding-left: 7.6px;
	font-size: 19px;
	color: #111;
}

.bannerRow .banner:nth-child(2) .link a{
	margin-top: 13.6px;
	padding-left: 20px;
	font-size: 17px;
}


@media only screen and (max-width:1100px) {
	.banner{
		height: 550px;
	}
}

@media only screen and (max-width:740px) {
	.banner{
		height: 450px;
	}
	
	.bannerRow{
		display: block;
	}
	
	.bannerRow .banner{
		width: 100% !important;
	}
}
